################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/obj/Debug
/HelloWorld/bin/Debug
/.vs
